1. printing numbers from 1 to 10 using a for loop

In [2]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. print each character for the string "HELLO" using a for loop

In [3]:
for char in "HELLO":
    print(char)

H
E
L
L
O

3. print the square of numbers from 1 to 5 using a for loop

In [4]:
for i in range(1, 6):
    print(1 * i)

1
2
3
4
5

4.use a for loop to print only even numbers from 1 to 20

In [5]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

5.Given a list of numbers, print each fruit in the list using a for loop

In [7]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

6. printing numbers from 10 to 1 in revers using a for loop and range

In [9]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

7. given a list of num = [3, 4, 9, 12, 15, 20] print each number in the list using a for loop

In [10]:
num = [3, 4, 9, 12, 15, 20]
for number in num:
    print(number)

3
4
9
12
15
20

8. print the multiplication table of 6 using a for loop

In [11]:
for i in range(1, 11):
    print("6 x", i, "=", 6 * i)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

9. write a for loop to count how many vowels are in the string "Python Programming"

In [12]:
text = "Python Programming"
vowel_count = 0
for char in text:
    if char.lower() in 'aeiou':
        vowel_count += 1
print("Number of vowels:", vowel_count)

Number of vowels: 4

10. Use nested for loop to print a 4x4 square pattern

In [13]:
for i in range(4):
    for j in range(4):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

11. write a program using a for loop to calculate the factorial of a number

In [18]:
num = int(input("Enter a number : "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial a", num, "is", factorial)

Enter a number :  6

Factorial a 6 is 720

12. from a list of names, print only those names that start with a vowel

In [23]:
names = ["Jigar", "Karan", "Sumit", "Jay", "Yesh"]
for name in names:
    if name[0].lower() in 'aeiou':
        print(name)

13. use a for loop to print the first 10 terms of the Fibonacci sequence

In [24]:
a = 0
b = 1
n = 10
print("Fibonacci sequence:")
for i in range(n):
    print(a, end=' ')
    temp = a + b
    a = b
    b = temp

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

14. separate a list of numbers into even and odd lists using a for loop.

In [27]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []
odd_numbers = []
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)
print("Even numbers:", even_numbers)
print("Odd numbers:", odd_numbers)

Even numbers: [2, 4, 6, 8, 10]
Odd numbers: [1, 3, 5, 7, 9]

15. create a triangle pattern using a numbers

In [28]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5